.form {
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
  width: 400px;
  padding: 24px 12px;
  gap: 12px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.fieldLabel {
  font-size: 18px;
  margin-bottom: 4px;
}

.field {
  height: 40px;
  padding: 6px 12px;
  background: transparent;
  border: 1px solid purple;
  outline: none;
  color: purple;
  font-size: 16px;
}

.formBtn {
  font-family: inherit;
  font-size: 18px;
  height: 40px;
  margin-top: 10px;
  background-color: purple;
  color: thistle;
  border: none;
  cursor: pointer;
}
